dialog::backdrop {
    background-color: rgba(27, 28, 30, 0.65);
}
.showModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
dialog {
    width: 100%;
    height: 60%;
    max-height: 380px;

    border: none;
    border-radius: var(--radius-inputs);
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    width: 90%;
    max-width: 240px;

    /* margin-top: 4rem; */
}
form > h2 {
    color: var(--color-Roxo);

    font-size: var(--title-4);
    font-weight: var(--bold-weigth);
}
.divCloseBtn {
    background-color: var(--color-Roxo);

    height: 42px;
    min-width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    top: 0;

    cursor: pointer;
}
.Fecha_Modal {
    margin-right: 15px;

    padding: 2px 8px 3px 8px;
    font-size: var(--title-5);

    background-color: var(--color-Roxo);
    color: var(--color-Branco);

    border: 2px solid var(--color-Branco);
    border-radius: 100%;
}
input {
    background-color: white;

    padding-left: 10px;

    border: 1px solid var(--color-Roxo-claro);
    border-radius: var(--radius-inputs);

    height: 27px;
}
input::placeholder {
    color: var(--color-Roxo-claro);
    font-size: var(--text-4);
}
.importantBtn {
    background-color: var(--color-Roxo);
    color: var(--color-Branco);

    border: none;
    border-radius: var(--radius-inputs);
    padding: 6px;

    font-size: var(--text-3);
}
span {
    font-size: var(--text-5);
}
a {
    text-decoration: none;
}
.purpleLine {
    background-color: var(--color-Roxo);
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: 0;
}
@media (min-width: 550px) {
    dialog {
        width: 520px;
    }
    form > h2 {
        font-size: var(--title-3);
        text-align: center;
    }
    span {
        text-align: center;
    }
}
