dialog::backdrop {
  background-color: rgba(27, 28, 30, 0.65);
}
.showModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
dialog {
  width: 100%;
  height: 60%;
  max-height: 380px;

  border: none;
  border-radius: var(--radius-inputs);
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  width: 90%;
  max-width: 240px;

  /* margin-top: 4rem; */
}
form > h2 {
  color: var(--color-Roxo);

  font-size: var(--title-4);
  font-weight: var(--bold-weigth);
}
.divCloseBtn {
  background-color: var(--color-Roxo);

  height: 42px;
  min-width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  top: 0;
}
.Fecha_Modal {
  margin-right: 15px;

  padding: 2px 8px 3px 8px;
  font-size: var(--title-5);

  background-color: var(--color-Roxo);
  color: var(--color-Branco);

  border: 2px solid var(--color-Branco);
  border-radius: 100%;

  cursor: pointer;
}
input {
  background-color: white;

  padding-left: 10px;

  border: 1px solid var(--color-Roxo-claro);
  border-radius: var(--radius-inputs);

  height: 27px;
}
input::placeholder {
  color: var(--color-Roxo-claro);
  font-size: var(--text-4);
}
.importantBtn {
  background-color: var(--color-Roxo);
  color: var(--color-Branco);

  border: none;
  border-radius: var(--radius-inputs);
  padding: 6px;
  cursor: pointer;
  font-size: var(--text-3);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.importantBtn:hover,
.importantBtnh:focus,
.importantBtn:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
  background-color: var(--color-Verde);
}

span {
  font-size: var(--text-5);
}
.redireciona_loguin {
  text-decoration: none;
  color: var(--color-Roxo);
  cursor: pointer;
}

.anchor_register {
  text-decoration: none;
  color: var(--color-Roxo);
  cursor: pointer;
}
.purpleLine {
  background-color: var(--color-Roxo);
  width: 100%;
  height: 12px;
  position: absolute;
  bottom: 0;
}
.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 49px;
}
.dialog-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 49px;
  flex-direction: column;
}
.modal_login {
  font-size: 33px;
  font-weight: bolder;
}
.Yes {
  color: var(--color-Branco);
  background: var(--color-Verde);
  border: none;
  border-radius: 13px;
  height: 28px;
  cursor: pointer;
}
.No {
  background: var(--color-Roxo-claro);
  border: none;
  height: 31px;
  border-radius: 14px;
  color: var(--color-Branco);
  cursor: pointer;
}
.yes-or-no {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 40%;
  gap: 24px;
  margin-top: 75px;
  width: 80%;
}
.yes-or-no > p {
  margin-left: 142px;
  font-size: 24px;
  font-weight: 700;
}
.redBtn-modal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-Vermelho);

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.redBtn-modal:hover,
.redBtn-modal:focus,
.redBtn-modal:active {
  color: var(--color-Vermelho);
}
.redBtn-modal:hover:before,
.redBtn-modal:focus:before,
.redBtn-modal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (min-width: 550px) {
  dialog {
    width: 520px;
  }

  form > h2 {
    font-size: var(--title-3);
    text-align: center;
  }
  span {
    text-align: center;
  }
}
